language: node_js

node_js:
  - '6'

branches:
  only:
  - master
  - develop
  - v2

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - npm install

branches:
  only:
  - master
  - develop
  - v2

script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run test:ci; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash <(curl -s https://codecov.io/bash) -F unit; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run test:ci-ie; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash <(curl -s https://codecov.io/bash) -F unit_ie; fi'
  - npm run test:styles