.button,
.#{$coloredButtonClassModifier} {
    @include font($buttonFont, $buttonFontSize, $buttonFontWeight);

    @if ($buttonTransitionEnabled) {
        transition: $buttonTransitionProperty $buttonTransitionDuration $defaultTiming;
    }

    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    margin-bottom: $buttonMarginBottom;
    outline: 0;
    padding: $buttonPaddingVertical $buttonPaddingHorizontal;
    text-align: center;
    text-shadow: none;

    &:active {
        @if ($buttonTransitionEnabled) {
            transition: $buttonActiveTransitionProperty $buttonActiveTransitionDuration $defaultTiming;
        }
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.button {
    @if ($buttonBorderColor) {
        border: 1px solid $buttonBorderColor;
    }

    background-color: $buttonBackground;

    color: $buttonColor;

    @if ($buttonRounded) {
        border-radius: $buttonRounded;
    }

    &:hover {
        background-color: $buttonBackgroundHover;
        color: $buttonColor;
    }

    &:active {
        background-color: $buttonBackgroundActive;
        color: $buttonColor;
    }
}

.#{$coloredButtonClassModifier} {
    background-color: $coloredButtonBackground;
    border: 1px $coloredButtonBorderColor solid;

    color: $coloredButtonColor;

    @if ($buttonRounded) {
        border-radius: $defaultRadius;
    }

    &:hover {
        background-color: $coloredButtonBackgroundHover;
        color: $coloredButtonColor;
    }

    &:active {
        background-color: $coloredButtonBackgroundActive;
        color: $coloredButtonColor;
    }
}

.button,
.#{$coloredButtonClassModifier} {
    &[disabled],
    &.#{$disabledButtonClassModifier} {
        background-color: $disabledButtonBackground;
        border: 1px solid $disabledButtonBorderColor;
        color: $disabledButtonColor;
        cursor: $disabledButtonCursor;

        &:active,
        &:hover {
            background-color: $disabledButtonBackground;
            color: $disabledButtonColor;
        }
    }
}

a.button,
a.#{$coloredButtonClassModifier} {
    -webkit-appearance: none;
}
