.button,
.#{$coloredButtonClassModifier} {
	@include font($buttonFont, $buttonFontSize, $buttonFontWeight);

	@if ($buttonTransitionEnabled) {
		// TODO: Possible mixin here
		transition: $buttonTransitionProperty $buttonTransitionDuration $defaultTiming;
	}
	border: 0;
	cursor: pointer;
	display: inline-block;
	line-height: 1em;
	margin: 0 0 $buttonMarginBottom 0;
	outline: 0;
	padding: $buttonPaddingVertical $buttonPaddingHorizontal;
	text-align: center;
	text-shadow: none;
	&:active {
		@if ($buttonTransitionEnabled) {
			transition: $buttonActiveTransitionProperty $buttonActiveTransitionDuration $defaultTiming;
		}
	}
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
.button {
	@if ($buttonBorderColor) {
		border: 1px solid $buttonBorderColor;
	}

	background-color: $buttonBackground;
	border-radius: $buttonRounded;
	color: $buttonColor;
	&:hover {
		background-color: $buttonBackgroundHover;
		color: $buttonColor;
	}
	&:active {
		background-color: $buttonBackgroundActive;
		color: $buttonColor;
	}
}
.#{$coloredButtonClassModifier} {
	background-color: $coloredButtonBackground;
	border: 1px $coloredButtonBorderColor solid;
	@if ($buttonRounded) {
		border-radius: $defaultRadius;
	}
	color: $coloredButtonColor;
	&:hover {
		background-color: $coloredButtonBackgroundHover;
		color: $coloredButtonColor;
	}
	&:active {
		background-color: $coloredButtonBackgroundActive;
		color: $coloredButtonColor;
	}
}
.button,
.#{$coloredButtonClassModifier} {
	&[disabled],
	&.#{$disabledButtonClassModifier} {
		border: 1px solid $disabledButtonBorderColor;
		background-color: $disabledButtonBackground;
		color: $disabledButtonColor;
		cursor: $disabledButtonCursor;
		&:active,
		&:hover {
			background-color: $disabledButtonBackground;
			color: $disabledButtonColor;
		}
	}
}

a.button,
a.#{$coloredButtonClassModifier} {
	-webkit-appearance: none;
}