.container {
	_containerPadding();
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: content-box;
	max-width: $width.max;
	min-width: $width.min;
}
.js-hide {
	display: none !important;
}
$(image.class.left) {
	float: left;
	margin-top: .32em;
	margin-right: $image.margin.side;
	margin-bottom: $image.margin.bottom;
}
$(image.class.right) {
	float: right;
	margin-top: .32em;
	margin-bottom: $image.margin.bottom;
	margin-left: $image.margin.side;
}