*,
*:before,
*:after {
    background: transparent;
    box-shadow: none;
    color: #000;
    text-shadow: none;
}

html {
    font-size: 70%;
}

body {
    padding: $printPageMargin;
}

header[role='banner'],
footer[role='contentinfo'],
aside,
embed,
iframe,
nav,
object,
.not-printed {
    display: none;
}

main {
    a {
        &:link {
            color: #06c;

            &::after {
                content: " [" attr(href) "] ";
            }
        }
    }
}

blockquote,
img,
p,
pre,
tr {
    page-break-inside: avoid;
}

h2,
h3 {
    page-break-after: avoid;
}

p {
    orphans: 3;
    widows: 3;
}

pre {
    white-space: pre-wrap;
}
