//------------------------------------*\
//  # Layout
//------------------------------------*/

$minWidth: false !default;  // min container width, false to disable
$maxWidth: 1280px !default; // max container width, false to disable

$bumperPadding: 6% !default;  // bumper padding on containers, false to disable
$padContainer: true !default; // enable bumperPadding on containers

$gridMargin: 5% !default; // default margin for spaced columns
$gridColumns: 8 !default; // default number of columns in grid

$gridSpaceless: false !default; // set to true to eliminate inline grid whitespace hack

$blockMarginBottom: 4rem !default; // default spacing for lists, form elements, and other blocks


//------------------------------------*\
//  # Colors
//------------------------------------*/

$primary: #5789ff !default;
$secondary: #121212 !default;
$tertiary: #ff9b57 !default;
$info: #1a28ff !default;
$success: #2ed183 !default;
$warning: #ff4121 !default;


//------------------------------------*\
//  # Grayscale
//------------------------------------*/

$white: #fff !default;
$lightestGray: darken(#fff, 4%) !default;
$lighterGray: darken(#fff, 10%) !default;
$lightGray: darken(#fff, 25%) !default;
$gray: darken(#fff, 35%) !default;
$darkGray: darken(#fff, 55%) !default;
$darkerGray: darken(#fff, 65%) !default;
$darkestGray: darken(#fff, 75%) !default;
$black: #000 !default;


//------------------------------------*\
//  # Links
//------------------------------------*/

$linkColor: $primary !default;
$linkColorHover: darken($linkColor, 10%) !default;
$linkColorActive: darken($linkColor, 20%) !default;

$linkDecoration: none !default;       // none, underline
$linkDecorationHover: false !default; // none, underline, false


//------------------------------------*\
//  # Base
//------------------------------------*/

// Root sizing

$rootFontSize: 62.5% !default; // root font size (62.5% = 10px, 100% = 16px)

// All rem-based units are relative to the root size above

$baseColor: $darkestGray !default;
$baseFont: Arial, Helvetica, sans-serif !default;
$baseFontSize: 1.6rem !default;
$baseFontWeight: normal !default;
$baseLineHeight: 1em !default;

$bodyBackground: $white !default; // false to disable


//------------------------------------*\
//  # Miscellaneous
//------------------------------------*/

$smallFontSize: .8em !default;

$selectionColor: $white !default;
$selectionBackground: $linkColor !default;

$boldFontWeight: bold !default;
$normalFontWeight: normal !default;

$markColor: $baseColor !default;
$markBackground: yellow !default;

$defaultRadius: 3px !default;
$defaultOpacity: .2 !default;
$defaultDuration: .2s !default;
$defaultTiming: ease-in-out !default;

$abbrUnderline: dotted !default; // dotted, solid, none


//------------------------------------*\
//  # Paragraphs
//------------------------------------*/

$paragraphColor: $baseColor !default;
$paragraphFontWeight: $baseFontWeight !default;
$paragraphLineHeight: 1.7em !default;

$paragraphMarginBottom: 2rem !default;


//------------------------------------*\
//  # Headings
//------------------------------------*/

$headingColor: inherit !default;
$headingFont: Tahoma, Geneva, sans-serif !default;
$headingFontWeight: $boldFontWeight !default;
$headingLineHeight: 1.4em !default;

$headingMarginBottom: 2rem !default;

$h1: 3.6rem !default; // font sizes
$h2: 3.2rem !default;
$h3: 2.8rem !default;
$h4: 2.4rem !default;
$h5: 2rem !default;
$h6: 1.6rem !default;


//------------------------------------*\
//  # Images
//------------------------------------*/

$imagePath: '../images/' !default;         // absolute or relative path
$spriteFilename: 'sprite.png' !default; // relative to image path above

$retinaSuffix: '-2x' !default; // retina filename suffix

$retinaSpriteWidth: auto !default;
$retinaSpriteHeight: auto !default;

// Margin applied when using img-left and img-right classes

$imageMarginBottom: 2rem !default;
$imageMarginSide: 2rem !default;

// Figures

$figureBorderColor: false !default; // false to disable
$figureRounded: false !default;

$figurePadding: $blockMarginBottom !default;

// Figure Captions

$figCaptionColor: $darkGray !default;
$figCaptionFontStyle: italic !default;
$figCaptionLineHeight: $paragraphLineHeight !default;

// Alignment

$imageLeftClass: img-left !default;
$imageRightClass: img-right !default;


//------------------------------------*\
//  # Fonts
//------------------------------------*/

$fontPath: '../fonts/' !default; // absolute or relative path

$iconFont: icons !default;

$woff2Enabled: true !default; // false to disable


//------------------------------------*\
//  # Lists
//------------------------------------*/

$listColor: $paragraphColor !default;
$listLineHeight: $paragraphLineHeight !default;

$listMarginBottom: $paragraphMarginBottom !default;
$listMarginLeft: false !default; // false to disable

$listBulletStyle: disc !default;      // disc, circle, square, etc
$listBulletPosition: inside !default; // inside or outside

$nestedListMarginLeft: 2rem !default;

$liMarginBottom: .2rem !default; // false to disable

// Description Lists

$dlMarginBottom: $blockMarginBottom !default;

// Description List Titles

$dtColor: $darkerGray !default;
$dtFont: $headingFont !default;
$dtFontSize: 2rem !default;

$dtMarginBottom: .2rem !default;

// Description List Items

$ddColor: $gray !default;
$ddFont: $baseFont !default;
$ddFontSize: $baseFontSize !default;

$ddMarginBottom: 1rem !default;


//------------------------------------*\
//  # Quotes
//------------------------------------*/

$quoteColor: $darkestGray !default;
$quoteFont: Georgia, Times, serif !default;
$quoteFontSize: 2rem !default;
$quoteFontStyle: italic !default;
$quoteFontWeight: normal !default;
$quoteLineHeight: 1.4em !default;

$quotePaddingHorizontal: 2em !default;
$quotePaddingVertical: 1em !default;

// Cites

$citeColor: $gray !default;
$citeFont: $baseFont !default;
$citeFontSize: 1.8rem !default;
$citeFontStyle: normal !default;
$citeFontWeight: normal !default;
$citeLineHeight: 1.2em !default;

$citeMarginTop: 1.4rem !default;

$citeIndicator: '\2014\00a0' !default;


//------------------------------------*\
//  # Horizontal Rules
//------------------------------------*/

$ruleColor: $lightGray !default;
$ruleHeight: 1px !default;
$ruleStyle: solid !default;
$ruleMargin: $blockMarginBottom !default;


//------------------------------------*\
//  # Addresses
//------------------------------------*/

$addressColor: $darkestGray !default;
$addressFont: $baseFont !default;
$addressFontSize: $baseFontSize !default;
$addressFontWeight: normal !default;
$addressFontStyle: normal !default;
$addressLineHeight: $paragraphLineHeight !default;


//------------------------------------*\
//  # Code
//------------------------------------*/

$codeColor: $darkestGray !default;
$codeFont: monospace !default;
$codeFontSize: $baseFontSize !default;
$codeLineHeight: 1.4em !default;

$codeBackground: $lighterGray !default;

$codeBorderColor: false !default;
$codeRounded: false !default;

$codePaddingHorizontal: .5em !default;
$codePaddingVertical: .2em !default;

$codeBlockColor: $lightestGray !default;
$codeBlockFont: $codeFont !default;
$codeBlockFontSize: 1.3rem !default;
$codeBlockLineHeight: $paragraphLineHeight !default;
$codeBlockTabSize: 4 !default;
$codeBlockWrap: false !default;
$codeBlockMarginBottom: $blockMarginBottom !default;

$codeBlockBackground: $darkestGray !default;

$codeBlockBorderColor: $codeBorderColor !default; // false to disable
$codeBlockRounded: false !default;

$codeBlockPaddingHorizontal: 2rem !default;
$codeBlockPaddingVertical: 1.4rem !default;


//------------------------------------*\
//  # Forms
//------------------------------------*/

// Inputs

$inputColor: $darkerGray !default;
$inputFont: $baseFont !default;
$inputFontSize: $baseFontSize !default;
$inputFontWeight: $baseFontWeight !default;

$inputBackground: $white !default;

$inputBorderColor: $lighterGray !default;
$inputBorderColorHover: darken($inputBorderColor, 10%) !default;
$inputBorderColorFocus: darken($inputBorderColor, 20%) !default;
$inputBorderWidth: 1px !default;        // false to disable
$inputRounded: $defaultRadius !default; // false to disable

$inputMinWidth: 20rem !default; // false to disable
$inputMinHeight: 3rem !default; // false to disable

$inputPaddingHorizontal: 1.6rem !default;
$inputPaddingVertical: 1rem !default;

$inputMarginBottom: 2rem !default;

$inputPlaceholderColor: lighten($inputColor, 40%) !default;

// Invalid Inputs

$inputBackgroundInvalid: $white !default;
$inputBorderColorInvalid: #a41818 !default;
$inputColorInvalid: darken($inputBorderColorInvalid, 10%) !default;
$inputBorderColorInvalidHover: darken($inputBorderColorInvalid, 10%) !default;
$inputBorderColorInvalidFocus: darken($inputBorderColorInvalid, 20%) !default;
$inputBorderWidthInvalid: 1px !default; // false to disable

// Required Inputs

$inputBackgroundRequired: $white !default;
$inputBorderColorRequired: $darkGray !default;
$inputColorRequired: darken($inputBorderColorRequired, 10%) !default;
$inputBorderColorRequiredHover: darken($inputBorderColorRequired, 10%) !default;
$inputBorderColorRequiredFocus: darken($inputBorderColorRequired, 20%) !default;
$inputBorderWidthRequired: 1px !default; // false to disable

// Disabled Inputs

$inputColorDisabled: $darkGray !default;

$inputBackgroundDisabled: $lightestGray !default;

$inputBorderWidthDisabled: false !default; // false to disable

$inputCursorDisabled: not-allowed !default;

$inputDisabledModifier: -disabled !default;
$inputDisabledCursor: not-allowed !default;

// Selects

$multiSelectMinHeight: 8rem !default;

// Checkboxes

$checkboxMarginBottom: 1rem !default;
$checkboxMarginRight: .5rem !default;

// Textareas

$textareaLineHeight: 1.3em !default;
$textareaMinHeight: 8rem !default;
$textareaResize: vertical !default; // none, horizontal, vertical, both
$textareaPaddingHorizontal: 1.6rem !default;
$textareaPaddingVertical: 1rem !default;

// Legends

$legendColor: $darkerGray !default;
$legendFont: $baseFont !default;
$legendFontSize: 1.8rem !default;

$legendMarginBottom: 1.4rem !default;

// Labels

$labelFontWeight: normal !default;
$labelLineHeight: 1.3em !default;

$labelMarginBottom: .4rem !default;
$labelMarginRight: 1rem !default;


//------------------------------------*\
//  # Buttons
//------------------------------------*/

$buttonStyled: true !default;

$buttonColor: $white !default;
$buttonFont: $baseFont !default;
$buttonFontSize: $baseFontSize !default;
$buttonFontWeight: normal !default;

$buttonPaddingHorizontal: 3rem !default;
$buttonPaddingVertical: 1.3rem !default;

$buttonMarginBottom: false !default;

$buttonRounded: $defaultRadius !default; // false to disable

$buttonTransitionEnabled: false !default;
$buttonTransitionProperty: background-color !default;
$buttonTransitionDuration: $defaultDuration !default;

$buttonActiveTransitionEnabled: false !default;
$buttonActiveTransitionProperty: background-color !default;
$buttonActiveTransitionDuration: $defaultDuration !default;

$buttonBackground: $darkGray !default;
$buttonBackgroundHover: darken($buttonBackground, 5%) !default;
$buttonBackgroundActive: darken($buttonBackground, 10%) !default;

$buttonBorderColor: false !default; // false to disable

// Colored Buttons

$coloredButtonClassModifier: button-colored !default;

$coloredButtonColor: $white !default; // font color

$coloredButtonBackground: $linkColor !default;
$coloredButtonBackgroundHover: darken($coloredButtonBackground, 5%) !default;
$coloredButtonBackgroundActive: darken($coloredButtonBackground, 10%) !default;

$coloredButtonBorderColor: false !default;

// Disabled Buttons

$disabledButtonClassModifier: -disabled !default;

$disabledButtonColor: $darkGray !default;

$disabledButtonBackground: $lightGray !default;

$disabledButtonBorderColor: false !default;

$disabledButtonCursor: not-allowed !default;


//------------------------------------*\
//  # Tables
//------------------------------------*/

$tableStyled: true !default;    // apply base styling by default
$tableBordered: false !default; // apply outer border by default
$tableStriped: true !default;   // apply striping by default

$tableFontSize: $baseFontSize !default;

$tableBorderedClassModifier: -bordered !default;
$tableStripedClassModifier: -striped !default;

// Table Cells

$tableCellLineHeight: $paragraphLineHeight !default;

$tableCellBorderColor: $lighterGray !default;

$tableCellPaddingHorizontal: 1.6rem !default;
$tableCellPaddingVertical: .6rem !default;

// Table Captions

$tableCaptionFontStyle: italic !default;

$tableCaptionBackground: $lightestGray !default;

$tableCaptionPaddingVertical: 1.2rem !default;
$tableCaptionPaddingHorizontal: $tableCellPaddingHorizontal !default;

// Striping

$tableStripedBackground: $lightestGray !default;
$tableStripedPosition: odd !default; // even, odd


//------------------------------------*\
//  # Print
//------------------------------------*/

$printPageMargin: 2cm .5cm !default;